body {
  background: #0d0d0d;
  color: white;
  font-family: Arial;
  text-align: center;
}

.card {
  background: #1f1f1f;
  padding: 15px;
  margin: 15px auto;
  width: 320px;
  border-radius: 10px;
}

input {
  padding: 6px;
  margin: 5px;
  width: 80%;
}

button {
  background: #00ff99;
  border: none;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}

.disclaimer {
  font-size: 12px;
  opacity: 0.6;
}
